/* CSS declarations go here */
/* ------------------------------ Home Styles ------------------------------ */
div#homeContainer {
  margin-top: 8em;
}

h1#homeHeader {
  color: #424242;
  text-align: center;
}

div#optionContainer {
  margin-top: 4em;
}

  div#optionContainer h2 i.find {
    color: #EA4528;
  }

  div#optionContainer h2 i.users {
    color: #146AA0;
  }

  div#optionContainer h2 i.user {
    color: #29B952;
  }




/* ------------------------------ Signup Styles ------------------------------ */
div#signupContainer {
  margin-top: 8em;
}




/* ------------------------------ Login Styles ------------------------------ */
div#loginContainer {
  margin-top: 8em;
}




/* ------------------------------ Header Styles ------------------------------ */
span.targetUser {
  color: orange;
  margin-left: 1em;
}



/* ------------------------------ Gallery Styles ------------------------------ */
div.cards {
  margin-bottom: 1em !important;
}

div.card {
  width: 100% !important;
}

div.card img {
  height: 25em !important;
}




/* ------------------------------ Single Pic Page Styles ------------------------------ */
div#sinlgePicContainer img.image {
  border-radius: 5px;
  height: 38em;
  width: 100%;
}

div#sinlgePicContainer i.file {
  color: #009688;
}

div#sinlgePicContainer i.user {
  color: #039be5;
}

div#sinlgePicContainer i.star {
  color: #fdd835;
}

div#sinlgePicContainer i.home {
  color: #7e57c2;
}

div#sinlgePicContainer i.remove {
  color: #d50000;
}







/* ------------------------------ General Styles ------------------------------ */
/*div.row {
  border: 1px solid gray !important;
}

div.column {
  border: 1px dashed orange;
}*/
