<template name="gallery">
  <div class="ui grid container">
    <div class="three column row">
      <div class="column">
        <div class="ui special cards">
          <div class="card">
            <div class="image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button"> Go </div>
                  </div> <!-- div.center -->
                </div> <!-- div.content -->
              </div> <!-- div.ui dimmer -->

              <img src="pic1.jpg" alt="Pic 1">
            </div> <!-- div.image -->

            <div class="content">
              <a class="header"> Header </a>
              <div class="meta">
                <span class="date"> Description </span>
              </div>
              <div class="description"><h5> Rating </h5></div>
            </div> <!-- div.content -->

            <div class="extra content">
              <a href=""><i class="user icon"></i> User </a>
            </div> <!-- div.extra content -->
          </div> <!-- div.card -->
        </div> <!-- div.special cards -->
      </div> <!-- div.column -->
    </div> <!-- div.three column row -->
  </div> <!-- div.ui grid container -->
</template>
