<template name="gallery">
  <div class="ui grid container">
    <div class="three column row">
      {{#each getPics}}
      <div class="column">
        <div class="ui special cards">
          <div class="card">
            <div class="image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button"> Go </div>
                  </div> <!-- div.center -->
                </div> <!-- div.content -->
              </div> <!-- div.ui dimmer -->

              <img src="{{picSrc}}" alt="{{picName}}">
            </div> <!-- div.image -->

            <div class="content">
              <a class="header" href="{{pathForSinglePic}}"> {{picName}} </a>
              <div class="meta">
                <span class="date"> Description </span>
              </div>
              <h2>{{> starsRating mutable=true rating=rating class="jsEventRating" data_id=_id}}</h2>
            </div> <!-- div.content -->

            <div class="extra content">
              <a href="" class="js-Event-setUserFilter"><i class="user icon"></i> {{createdBy}} </a>
            </div> <!-- div.extra content -->
          </div> <!-- div.card -->
        </div> <!-- div.special cards -->
      </div> <!-- div.column -->
      {{/each}}
    </div> <!-- div.three column row -->
  </div> <!-- div.ui grid container -->

  {{> addPicForm}}
</template>
