<template name="header">
  <div class="ui grid container">
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui text menu">
          <div class="item header"> Welcome <span class="targetUser"> {{getUserLogged}} </span></div>
          {{#if currentUser}}
          <a href="" class="item jsEventLogout">Logout</a>

          <a href="" class="ui blue button jsAddPics" tabindex="0">Add Pics</a>
          {{else}}
          <a href="/" class="item">Home</a>

          <a href="" class="item goSignup">Sign Up</a>

          <a href="" class="item goLogin">Login</a>
          {{/if}}
        </div> <!-- div.text menu -->
      </div> <!-- div.sixteen wide column -->
    </div> <!-- div.row -->
  </div> <!-- div.ui grid -->
</template>
