<template name="header">
  <div class="ui grid container">
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui text menu">
          <div class="item header"> Welcome User </div>
          <a href="#" class="item">Action 1</a>

          <a href="#" class="item">Action 2</a>
          
          <a href="#" class="item">Action 3</a>
        </div> <!-- div.text menu -->
      </div> <!-- div.sixteen wide column -->
    </div> <!-- div.row -->
  </div> <!-- div.ui grid -->
</template>
