<template name="signupForm">
  <div class="ui grid container" id="signupContainer">
    <div class="row">
      <div class="centered seven wide column">
        <h3>Sign Up</h3>
        <form class="ui form">
          <div class="field">
            <label for="name"> Name </label>
            <input type="text" name="name" placeholder="Set your name here" required>
          </div> <!-- div.fileds -->

          <div class="field">
            <label for="password"> Password </label>
            <input type="password" name="password" placeholder="Set your password here" required>
          </div> <!-- div.field -->

          <input type="submit" class="ui blue button" value="Send">
        </form> <!-- form -->
      </div> <!-- div.seven wide column -->
    </div> <!-- div.row -->
  </div> <!-- div.ui grid container -->
</template>
